@model IEnumerable<DataTableMVC5.Models.DataTablesWithJson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myDataTable">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>

    <tbody></tbody>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </tfoot>

</table>
@section scripts {

    <link href="~/Content/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#myDataTable').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/DataTablesMvc5/AjaxHand",
                "bLengthChange": false,
                "sPaginationType": "full_numbers",
                'bPaginate': true,      //是否启用分页。
                'bLengthChange': false, //是否允许自定义每页显示条数.默认为true显示
                "bInfo": true,          //是否显示分页信息
                "bFilter": false,       //是否显示搜索栏
                //"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "所有"]],
                "iDisplayLength": 5, //每页显示10条记录
                "sPaginationType": "full_numbers",

                //显示特定格式(如负数显示红色)
                //"aoColumnDefs": [{
                //    "aTargets": [0, 1, 2, 3],//可以指定在哪些列里查找
                //    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                //        if (sData < "810523174") {
                //            $(nTd).css('color', 'red')
                //            $(nTd).css('font-weight', 'bold')
                //        }
                //    }
                //}],

                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录。",
                    "sInfoEmpty": "找不到相关数据",
                    "sInfoFiltered": "（数据表中共为 _MAX_ 条记录）",
                    "sProcessing": "正在加载中...",
                    "sSearch": "搜索",
                    "sUrl": "", //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": " 上一页 ",
                        "sNext": " 下一页 ",
                        "sLast": " 最后一页 "
                    }
                }, //多语言配置
                //"bStateSave": true, //保存状态到cookie *************** 很重要 ， 当搜索的时候页面一刷新会导致搜索的消失。使用这个属性就可避免了

                "aoColumns": [
                {
                    "sWidth": '200px', "mData": "Id",
                    "fnRender": function (obj) {
                        return '<a class="ajaxify" href=\"/admin/Article/edit?Id=' + obj.aData.Id + '\">编辑</a> '
                            + ' <a href=\"#\" onclick=\"DeleteArticle(' + obj.aData.Id + ')\">删除</a>';
                    }

                },
                { "sWidth": '200px', "mData": "Name" }

                ]
            });//end table
        });//end ready()
    </script>
}